{% extends 'base.html.twig' %}
{%block content%}
<ul>
    {% for article in articles %}
    <li><center><h1> {{ article.id }}.{{ article.title }}</h1></center></li><br>
        {{ article.content }}
        <h4>{{ article.auteur.firstname }}
        {{ article.auteur.lastname }}</h4>
    {% endfor %}
</ul>
{% endblock %}